@model string
@{
    ViewData["Title"] = "Home Page";
}

<section class="cards-ticker">
    <div class="_card">
        <div class="_card-header">
            <div>
                <span title="Cotação">Ação</span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span title="Cotação">Cotação</span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span title="DY">DY</span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span title="Cotas">Cotas</span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span title="Saldo">Saldo</span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span title="Dividendo">Dividendo</span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span title="Divid / Real">Divid / Real</span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span title="Prov Mensal">PV Men Real</span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span title="Prov Mensal">PV Men Esp</span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span title="Prov Anual">PV Anual</span>
            </div>
        </div>
    </div>
</section>

<section class="cards-ticker2">
    <div class="_card">
        <div class="_card-header">
            <div>
                <span title="Total">Total</span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span id="totalCotacao">R$ </span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span id="totalDY"></span>%
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span id="totalCotas">0</span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span id="totalSaldo">R$ </span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span id="totalDividendos">R$ </span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span id="totalDivReal">R$ </span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span id="totalProvMensalReal">R$ </span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span id="totalProvMensalEsp">R$ </span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span id="totalProvAnual">R$ </span>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript">

    $.ajax({
        url: "home/CarregaDados",
        method: "GET", // First change type to method here
        dataType: 'json',
        success: function (data) {
            var totalCotacao = 0;
            var totalDY = 0;
            var totalCotas = 0;
            var totalSaldo = 0;
            var totalProvMensal = 0;
            var totalProvAnual = 0;

            $.each(data.ticker.data, function (index, element) {

                $('.cards-ticker').append(
                    '<div class="_card"><div class="_card-body"><div><span>' +
                    $('.name', element.ticker).text() +
                    '</span></div></div></div>'
                );

                $('.cards-ticker').append(
                    '<div class="_card"><div class="_card-body"><div><span> R$ ' +
                    element.current_price +
                    '</span><input type="hidden" id="impCotacao' +
                    $('.name', element.ticker).text() +
                    '" value="' +
                    element.current_price +
                    '" /></div></div></div>'
                );

                $('.cards-ticker').append(
                    '<div class="_card"><div class="_card-body"><div><span>' +
                    parseFloat(element.dy).toFixed(2) +
                    '%</span><input type="hidden" id="impDY' +
                    $('.name', element.ticker).text() +
                    '" value="' +
                    element.dy +
                    '" /></div></div></div>'
                );

                $('.cards-ticker').append(
                    '<div class="_card"><div class="_card-body"><div><span>' +
                    element.quantity +
                    '</span><input type="hidden" id="impCotas' +
                    $('.name', element.ticker).text() +
                    '" value="' +
                    element.quantity +
                    '" /></div></div></div>'
                );

                $('.cards-ticker').append(
                    '<div class="_card"><div class="_card-body"><div><span> R$ ' +
                    parseFloat(element.equity_total).toFixed(2) +
                    '</span><input type="hidden" id="impSaldo' +
                    $('.name', element.ticker).text() +
                    '" value="' +
                    element.equity_total +
                    '" /></div></div></div>'
                );

                $('.cards-ticker').append(
                    '<div class="_card"><div class="_card-body"><div><span> R$ ' +
                    $('#table-dividends-history', element.dividendos).find("td").eq(3).html().replace("\n", "").replace(",", ".") +
                    '</span><input type="hidden" id="impDividendo' +
                    $('.name', element.ticker).text() +
                    '" value="' +
                    $('#table-dividends-history', element.dividendos).find("td").eq(3).html().replace("\n", "").replace(",", ".") +
                    '" /></div></div></div>'
                );

                $('.cards-ticker').append(
                    '<div class="_card"><div class="_card-body"><div><span> R$ ' +
                    (parseFloat($('#table-dividends-history', element.dividendos).find("td").eq(3).html().replace("\n", "").replace(",", ".")) / parseFloat(element.current_price)).toFixed(8) +
                    '</span><input type="hidden" id="impDividendoReal' +
                    $('.name', element.ticker).text() +
                    '" value="' +
                    0 +
                    '" /></div></div></div>'
                );

                $('.cards-ticker').append(
                    '<div class="_card"><div class="_card-body"><div><span> R$ ' +
                    (parseFloat($('#table-dividends-history', element.dividendos).find("td").eq(3).html().replace("\n", "").replace(",", ".")) * element.quantity).toFixed(2) +
                    '</span><input type="hidden" id="impProventosReal' +
                    $('.name', element.ticker).text() +
                    '" value="' +
                    0 +
                    '" /></div></div></div>'
                );

                $('.cards-ticker').append(
                    '<div class="_card"><div class="_card-body"><div><span> R$ ' +
                    (parseFloat(element.dy) * parseFloat(element.equity_total) / 100 / 12).toFixed(2) +
                    '</span><input type="hidden" id="impProventosEsp' +
                    $('.name', element.ticker).text() +
                    '" value="' +
                    0 +
                    '" /></div></div></div>'
                );

                $('.cards-ticker').append(
                    '<div class="_card"><div class="_card-body"><div><span> R$ ' +
                    (parseFloat(element.dy) * parseFloat(element.equity_total) / 100).toFixed(2) +
                    '</span><input type="hidden" id="impProventosAnual' +
                    $('.name', element.ticker).text() +
                    '" value="' +
                    0 +
                    '" /></div></div></div>'
                );

                totalCotacao += element.current_price;
                totalDY += parseFloat(element.dy);
                totalCotas += element.quantity;
                totalSaldo += element.equity_total;
                totalProvMensal += parseFloat(parseFloat(element.dy) * parseFloat(element.equity_total) / 100 / 12);
                totalProvAnual += parseFloat(parseFloat(element.dy) * parseFloat(element.equity_total) / 100);
            });

            $("#totalCotacao").append((parseFloat(totalCotacao) / data.ticker.total).toFixed(2));
            $("#totalDY").append((parseFloat(totalDY) / data.ticker.total).toFixed(2));
            $("#totalCotas").html(totalCotas);
            $("#totalSaldo").append(parseFloat(totalSaldo).toFixed(2));
            $("#totalProvMensalEsp").append(parseFloat(totalProvMensal).toFixed(2));
            $("#totalProvAnual").append(parseFloat(totalProvAnual).toFixed(2));
        },
        error: function (error) {
            alert("error" + error);
        }
    });

    // var myData = document.getElementById("my-data").value;
    // var found = $('#cards-ticker', myData);

    // var cotacao = $('.value', found);
    // $("#cotacao").html(cotacao[0]);
    // $("#impCotacao").val($(".value").text().replace("R$ ", ""));

    // var dy = $('._card-body', $('.dy', found));
    // $("#dy").html(dy[0]);
    // $("#impDY").val($('span', dy[0]).text());

    // var rend = $('#table-dividends-history', myData).find("td").eq(3).html().replace("\n", "")
    // $("#rendimento").html(rend);
    // $("#impRendimento").val(rend);

    // var val1 = parseFloat($("#impCotacao").val().replace(",", "."));
    // var val2 = parseFloat(rend.replace(",", "."));


    // $("#rendReal").html((val2 / val1).toFixed(8).replace(".", ","));
    // $("#impRendReal").val((val2 / val1).toFixed(8));


    // $('#Ticker-tickers', myData).find("td").eq(3).html().replace("\n", "")

</script>

<style>
    .cards-ticker {
        --spacing: 0 1px;
        --column-count: 10;
        grid-gap: var(--spacing);
        display: flex;
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: repeat(var(--column-count),1fr);
        /* margin-bottom: 30px; */
    }

    .cards-ticker2 {
        --spacing: 0 1px;
        --column-count: 10;
        grid-gap: var(--spacing);
        display: flex;
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: repeat(var(--column-count),1fr);
        margin-bottom: 30px;
    }

    ._card ._card-body span {
        font-size: 15px;
        font-weight: 700;
    }

    ._card {
        background: #fff;
        /* border-radius: 10px; */
        box-shadow: 0 0 5px rgba(0,0,0,.161);
        display: flex;
        flex-direction: column;
    }

        ._card ._card-header {
            background: #293038;
            /* border-radius: 10px 10px 0 0; */
            color: #d3b583;
            font-size: 14px;
            font-weight: 800;
            padding: 10px;
            text-align: center;
            text-transform: uppercase;
        }

        ._card ._card-body {
            align-items: center;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            padding: 5px;
            position: relative;
        }

    * {
        box-sizing: border-box;
        margin: 0;
        outline: 0;
        padding: 0;
    }
</style>