@model string
@{
    ViewData["Title"] = "Home Page";
}

<!-- AÇÕES -->
<section class="cards-ticker topAcoes">
    <div class="_card">
        <div class="_card-header">
            <div>
                <span title="Cotação">Ação 1</span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span title="Cotas">Cotas</span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span title="VlMedio">VL Medio</span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span title="VL Atual">VL Atual</span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span title="Variação">Variação</span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span title="Saldo">Saldo</span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span title="DY">DY</span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span title="">&nbsp;</span>
            </div>
        </div>
    </div>
</section>

<section class="cards-ticker botAcoes">
    <div class="_card">
        <div class="_card-header">
            <div>
                <span title="Total">Total</span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span id="totalCotas">0</span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span id="totalVlMedio">R$ </span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span id="totalCotacao">R$ </span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <img id="imgVariacao" class="img-direction" style="height: 12px; margin-left: 2px; display: inline;" src="">
                <span id="totalVariacao"></span>%
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span id="totalSaldo">R$ </span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span id="totalDY"></span>%
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <a href="#"><span title="">&nbsp;</span></a>
        </div>
    </div>

    @*

    <div class="_card">
    <div class="_card-header">
    <div>
    <span id="totalDividendos">R$ </span>
    </div>
    </div>
    </div>
    <div class="_card">
    <div class="_card-header">
    <div>
    <span id="totalDivReal">R$ </span>
    </div>
    </div>
    </div>
    <div class="_card">
    <div class="_card-header">
    <div>
    <span id="totalProvMensalReal">R$ </span>
    </div>
    </div>
    </div>
    <div class="_card">
    <div class="_card-header">
    <div>
    <span id="totalProvMensalEsp">R$ </span>
    </div>
    </div>
    </div>
    <div class="_card">
    <div class="_card-header">
    <div>
    <span id="totalProvAnual">R$ </span>
    </div>
    </div>
    </div> *@
</section>
<!-- FIM AÇÕES -->
<!-- FII -->
<section class="cards-ticker topFii" style="margin-top: 20px;">
    <div class="_card">
        <div class="_card-header">
            <div>
                <span title="FII">FII</span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span title="Cotas">Cotas</span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span title="VlMedio">VL Medio</span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span title="VL Atual">VL Atual</span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span title="Variação">Variação</span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span title="Saldo">Saldo</span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span title="DY">DY</span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span title="">&nbsp;</span>
            </div>
        </div>
    </div>
</section>

<section class="cards-ticker botFii">
    <div class="_card">
        <div class="_card-header">
            <div>
                <span title="Total">Total</span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span id="totalCotasFii">0</span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span id="totalVlMedioFii">R$ </span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span id="totalCotacaoFii">R$ </span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <img id="imgVariacaoFii" class="img-direction" style="height: 12px; margin-left: 2px; display: inline;" src="">
                <span id="totalVariacaoFii"></span>%
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span id="totalSaldoFii">R$ </span>
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span id="totalDYFii"></span>%
            </div>
        </div>
    </div>
    <div class="_card">
        <div class="_card-header">
            <div>
                <span title="">&nbsp;</span>
            </div>
        </div>
    </div>

    @*

    <div class="_card">
    <div class="_card-header">
    <div>
    <span id="totalDividendos">R$ </span>
    </div>
    </div>
    </div>
    <div class="_card">
    <div class="_card-header">
    <div>
    <span id="totalDivReal">R$ </span>
    </div>
    </div>
    </div>
    <div class="_card">
    <div class="_card-header">
    <div>
    <span id="totalProvMensalReal">R$ </span>
    </div>
    </div>
    </div>
    <div class="_card">
    <div class="_card-header">
    <div>
    <span id="totalProvMensalEsp">R$ </span>
    </div>
    </div>
    </div>
    <div class="_card">
    <div class="_card-header">
    <div>
    <span id="totalProvAnual">R$ </span>
    </div>
    </div>
    </div> *@
</section>
<!-- FIM FII -->

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript">

    $.ajax({
        url: "home/CarregaDados",
        method: "GET",
        dataType: 'json',
        success: function (data) {
            var totalCotacao = totalCotacaoFii = 0;
            var totalDY = totalDYFii = 0;
            var totalCotas = totalCotasFii = 0;
            var totalSaldo = totalSaldoFii = 0;
            var totalProvMensal = totalProvMensalFii = 0;
            var totalProvAnual = totalProvAnualFii = 0;
            var totalVlMedio = totalVlMedioFii = 0;
            var totalVariacao = totalVariacaoFii = 0;

            $.each(data.ticker.data, function (index, element) {

                $('.topAcoes').append(
                    '<div class="_card"><div class="_card-body"><div><span>' +
                    $('.name', element.ticker).text() +
                    '</span></div></div></div>'
                );

                $('.topAcoes').append(
                    '<div class="_card"><div class="_card-body"><div><span>' +
                    element.quantity +
                    '</span><input type="hidden" id="impCotas' +
                    $('.name', element.ticker).text() +
                    '" value="' +
                    element.quantity +
                    '" /></div></div></div>'
                );

                $('.topAcoes').append(
                    '<div class="_card"><div class="_card-body"><div><span>R$ ' +
                    parseFloat(element.avg_price).toFixed(2) +
                    '</span><input type="hidden" id="impVlMedio' +
                    $('.name', element.ticker).text() +
                    '" value="' +
                    element.avg_price +
                    '" /></div></div></div>'
                );

                $('.topAcoes').append(
                    '<div class="_card"><div class="_card-body"><div><span> R$ ' +
                    parseFloat(element.current_price).toFixed(2) +
                    '</span><input type="hidden" id="impVlAtual' +
                    $('.name', element.ticker).text() +
                    '" value="' +
                    element.current_price +
                    '" /></div></div></div>'
                );

                $('.topAcoes').append(
                    '<div class="_card"><div class="_card-body"><div>' +
                    '<img id="imgVariacao' +
                    $('.name', element.ticker).text() +
                    '" class="img-direction" style="height: 12px; margin-left: 2px; display: inline;" src=""> <span>' +
                    parseFloat(element.appreciation).toFixed(2) +
                    '%</span><input type="hidden" id="impVariacao' +
                    $('.name', element.ticker).text() +
                    '" value="' +
                    element.appreciation +
                    '" /></div></div></div>'
                );

                if (element.appreciation >= 0) {
                    $('#imgVariacao' + $('.name', element.ticker).text()).attr("src", "https://investidor10.com.br/assets/front/images/seta-up.svg");
                }
                else {
                    $('#imgVariacao' + $('.name', element.ticker).text()).attr("src", "https://investidor10.com.br/assets/front/images/seta-down.svg");
                }

                $('.topAcoes').append(
                    '<div class="_card"><div class="_card-body"><div><span> R$ ' +
                    parseFloat(element.equity_total).toFixed(2) +
                    '</span><input type="hidden" id="impSaldo' +
                    $('.name', element.ticker).text() +
                    '" value="' +
                    element.equity_total +
                    '" /></div></div></div>'
                );

                $('.topAcoes').append(
                    '<div class="_card"><div class="_card-body"><div><span>' +
                    parseFloat(element.dy).toFixed(2) +
                    '%</span><input type="hidden" id="impDY' +
                    $('.name', element.ticker).text() +
                    '" value="' +
                    element.dy +
                    '" /></div></div></div>'
                );

                $('.topAcoes').append(
                    '<div class="_card">' +
                    '<div class="_card-body">' +
                    '        <a href="#"><span title="">Resumo</span></a>' +
                    '    </div>' +
                    '</div>'
                );

                totalCotacao += element.current_price;
                totalDY += parseFloat(element.dy);
                totalCotas += element.quantity;
                totalSaldo += element.equity_total;
                totalProvMensal += parseFloat(parseFloat(element.dy) * parseFloat(element.equity_total) / 100 / 12);
                totalProvAnual += parseFloat(parseFloat(element.dy) * parseFloat(element.equity_total) / 100);
                totalVlMedio += parseFloat(element.avg_price);
                totalVariacao = parseFloat(element.appreciation) + parseFloat(totalVariacao);
            });

            //inicio
            $.each(data.fii.data, function (index, element) {

                $('.topFii').append(
                    '<div class="_card"><div class="_card-body"><div><span>' +
                    $('.name', element.ticker).text() +
                    '</span></div></div></div>'
                );

                $('.topFii').append(
                    '<div class="_card"><div class="_card-body"><div><span>' +
                    element.quantity +
                    '</span><input type="hidden" id="impCotas' +
                    $('.name', element.ticker).text() +
                    '" value="' +
                    element.quantity +
                    '" /></div></div></div>'
                );

                $('.topFii').append(
                    '<div class="_card"><div class="_card-body"><div><span>R$ ' +
                    parseFloat(element.avg_price).toFixed(2) +
                    '</span><input type="hidden" id="impVlMedio' +
                    $('.name', element.ticker).text() +
                    '" value="' +
                    element.avg_price +
                    '" /></div></div></div>'
                );

                $('.topFii').append(
                    '<div class="_card"><div class="_card-body"><div><span> R$ ' +
                    parseFloat(element.current_price).toFixed(2) +
                    '</span><input type="hidden" id="impVlAtual' +
                    $('.name', element.ticker).text() +
                    '" value="' +
                    element.current_price +
                    '" /></div></div></div>'
                );

                $('.topFii').append(
                    '<div class="_card"><div class="_card-body"><div>' +
                    '<img id="imgVariacao' +
                    $('.name', element.ticker).text() +
                    '" class="img-direction" style="height: 12px; margin-left: 2px; display: inline;" src=""> <span>' +
                    parseFloat(element.appreciation).toFixed(2) +
                    '%</span><input type="hidden" id="impVariacao' +
                    $('.name', element.ticker).text() +
                    '" value="' +
                    element.appreciation +
                    '" /></div></div></div>'
                );

                if (element.appreciation >= 0) {
                    $('#imgVariacao' + $('.name', element.ticker).text()).attr("src", "https://investidor10.com.br/assets/front/images/seta-up.svg");
                }
                else {
                    $('#imgVariacao' + $('.name', element.ticker).text()).attr("src", "https://investidor10.com.br/assets/front/images/seta-down.svg");
                }

                $('.topFii').append(
                    '<div class="_card"><div class="_card-body"><div><span> R$ ' +
                    parseFloat(element.equity_total).toFixed(2) +
                    '</span><input type="hidden" id="impSaldo' +
                    $('.name', element.ticker).text() +
                    '" value="' +
                    element.equity_total +
                    '" /></div></div></div>'
                );

                $('.topFii').append(
                    '<div class="_card"><div class="_card-body"><div><span>' +
                    parseFloat(element.dy).toFixed(2) +
                    '%</span><input type="hidden" id="impDY' +
                    $('.name', element.ticker).text() +
                    '" value="' +
                    element.dy +
                    '" /></div></div></div>'
                );

                $('.topFii').append(
                    '<div class="_card">' +
                    '<div class="_card-body">' +
                    '        <a href="#"><span title="">Resumo</span></a>' +
                    '    </div>' +
                    '</div>'
                );

                totalCotacaoFii += element.current_price;
                totalDYFii += parseFloat(element.dy);
                totalCotasFii += element.quantity;
                totalSaldoFii += element.equity_total;
                totalProvMensalFii += parseFloat(parseFloat(element.dy) * parseFloat(element.equity_total) / 100 / 12);
                totalProvAnualFii += parseFloat(parseFloat(element.dy) * parseFloat(element.equity_total) / 100);
                totalVlMedioFii += parseFloat(element.avg_price);
                totalVariacaoFii = parseFloat(element.appreciation) + parseFloat(totalVariacaoFii);
            });
            //fim

            $("#totalCotacao").append((parseFloat(totalCotacao) / data.ticker.total).toFixed(2));
            $("#totalDY").append((parseFloat(totalDY) / data.ticker.total).toFixed(2));
            $("#totalCotas").html(totalCotas);
            $("#totalSaldo").append(parseFloat(totalSaldo).toFixed(2));
            $("#totalVlMedio").append((parseFloat(totalVlMedio) / data.ticker.total).toFixed(2));
            $("#totalVariacao").append((parseFloat(totalVariacao)).toFixed(2));

            $("#totalCotacaoFii").append((parseFloat(totalCotacaoFii) / data.fii.total).toFixed(2));
            $("#totalDYFii").append((parseFloat(totalDYFii) / data.fii.total).toFixed(2));
            $("#totalCotasFii").html(totalCotasFii);
            $("#totalSaldoFii").append(parseFloat(totalSaldoFii).toFixed(2));
            $("#totalVlMedioFii").append((parseFloat(totalVlMedioFii) / data.fii.total).toFixed(2));
            $("#totalVariacaoFii").append((parseFloat(totalVariacaoFii)).toFixed(2));

            if (totalVariacao >= 0) {
                $('#imgVariacaoFii').attr("src", "https://investidor10.com.br/assets/front/images/seta-up.svg");
            }
            else {
                $('#imgVariacaoFii').attr("src", "https://investidor10.com.br/assets/front/images/seta-down.svg");
            }

            $("#totalProvMensalEsp").append(parseFloat(totalProvMensal).toFixed(2));
            $("#totalProvAnual").append(parseFloat(totalProvAnual).toFixed(2));
        },
        error: function (error) {
            alert("error" + error);
        }
    });

    // var myData = document.getElementById("my-data").value;
    // var found = $('#cards-ticker', myData);

    // var cotacao = $('.value', found);
    // $("#cotacao").html(cotacao[0]);
    // $("#impCotacao").val($(".value").text().replace("R$ ", ""));

    // var dy = $('._card-body', $('.dy', found));
    // $("#dy").html(dy[0]);
    // $("#impDY").val($('span', dy[0]).text());

    // var rend = $('#table-dividends-history', myData).find("td").eq(3).html().replace("\n", "")
    // $("#rendimento").html(rend);
    // $("#impRendimento").val(rend);

    // var val1 = parseFloat($("#impCotacao").val().replace(",", "."));
    // var val2 = parseFloat(rend.replace(",", "."));


    // $("#rendReal").html((val2 / val1).toFixed(8).replace(".", ","));
    // $("#impRendReal").val((val2 / val1).toFixed(8));


    // $('#Ticker-tickers', myData).find("td").eq(3).html().replace("\n", "")

    // $('.cards-ticker').append(
    //     '<div class="_card"><div class="_card-body"><div><span> R$ ' +
    //     $('#table-dividends-history', element.dividendos).find("td").eq(3).html().replace("\n", "").replace(",", ".") +
    //     '</span><input type="hidden" id="impDividendo' +
    //     $('.name', element.ticker).text() +
    //     '" value="' +
    //     $('#table-dividends-history', element.dividendos).find("td").eq(3).html().replace("\n", "").replace(",", ".") +
    //     '" /></div></div></div>'
    // );

    // $('.cards-ticker').append(
    //     '<div class="_card"><div class="_card-body"><div><span> R$ ' +
    //     (parseFloat($('#table-dividends-history', element.dividendos).find("td").eq(3).html().replace("\n", "").replace(",", ".")) / parseFloat(element.current_price)).toFixed(8) +
    //     '</span><input type="hidden" id="impDividendoReal' +
    //     $('.name', element.ticker).text() +
    //     '" value="' +
    //     0 +
    //     '" /></div></div></div>'
    // );

    // $('.cards-ticker').append(
    //     '<div class="_card"><div class="_card-body"><div><span> R$ ' +
    //     (parseFloat($('#table-dividends-history', element.dividendos).find("td").eq(3).html().replace("\n", "").replace(",", ".")) * element.quantity).toFixed(2) +
    //     '</span><input type="hidden" id="impProventosReal' +
    //     $('.name', element.ticker).text() +
    //     '" value="' +
    //     0 +
    //     '" /></div></div></div>'
    // );

    // $('.cards-ticker').append(
    //     '<div class="_card"><div class="_card-body"><div><span> R$ ' +
    //     (parseFloat(element.dy) * parseFloat(element.equity_total) / 100 / 12).toFixed(2) +
    //     '</span><input type="hidden" id="impProventosEsp' +
    //     $('.name', element.ticker).text() +
    //     '" value="' +
    //     0 +
    //     '" /></div></div></div>'
    // );

    // $('.cards-ticker').append(
    //     '<div class="_card"><div class="_card-body"><div><span> R$ ' +
    //     (parseFloat(element.dy) * parseFloat(element.equity_total) / 100).toFixed(2) +
    //     '</span><input type="hidden" id="impProventosAnual' +
    //     $('.name', element.ticker).text() +
    //     '" value="' +
    //     0 +
    //     '" /></div></div></div>'
    // );

</script>

<style>
    .cards-ticker {
        --spacing: 0 1px;
        --column-count: 8;
        grid-gap: var(--spacing);
        display: flex;
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: repeat(var(--column-count),1fr);
        /* margin-bottom: 30px; */
    }

    ._card ._card-body span {
        font-size: 15px;
        font-weight: 700;
    }

    ._card {
        background: #fff;
        /* border-radius: 10px; */
        box-shadow: 0 0 5px rgba(0,0,0,.161);
        display: flex;
        flex-direction: column;
        min-width: 80px;
    }

        ._card ._card-header {
            background: #293038;
            /* border-radius: 10px 10px 0 0; */
            color: #d3b583;
            font-size: 12px;
            font-weight: 800;
            padding: 8px;
            text-align: center;
            text-transform: uppercase;
        }

        ._card ._card-body {
            align-items: center;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            padding: 5px;
            position: relative;
        }

    * {
        box-sizing: border-box;
        margin: 0;
        outline: 0;
        padding: 0;
    }

    a {
        color: #d3b583;
        text-decoration: auto;
    }
</style>